h1 {
  font-size: 1em;
  margin: 0.67em 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
    max-height: 29.69cm;
    max-width: 21cm;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    justify-self: center;
    border: 1px solid #61dafb;
    overflow: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

@media print {
  body * {
    visibility: hidden;
  }

  .App-header , .App-header  * {
    visibility: visible;
  }

  .App-header  {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: none;
    margin: 0;
    page-break-after: always;
  }
}